html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #ffffff;
  overflow: hidden;
}

#app {
  display: grid;
  place-items: center;
}

#game-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#game-container canvas {
  display: block;
  margin: auto;
  background: #ffffff;
}
